<a href="https://colab.research.google.com/github/XcLyBr/Sales-Forecast/blob/main/Project2part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jose Antonio Villegas

Project 2 Part 1

# ***DATASET 1***

In [ ]:
import pandas as pd

In [ ]:
path = '/content/credit_data.csv'
df = pd.read_csv(path)
df.head()

,CARDHLDR,DEFAULT,AGE,ACADMOS,ADEPCNT,MAJORDRG,MINORDRG,OWNRENT,INCOME,SELFEMPL,INCPER,EXP_INC,SPENDING,LOGSPEND
0,0,0,27.250000,4,0,0,0,0,1200.000000,0,18000.0,0.000667,,
1,0,0,40.833332,111,3,0,0,1,4000.000000,0,13500.0,0.000222,,
2,1,0,37.666668,54,3,0,0,1,3666.666667,0,11300.0,0.033270,121.9896773,4.8039364
3,1,0,42.500000,60,3,0,0,1,2000.000000,0,17250.0,0.048427,96.8536213,4.5732008
4,1,0,21.333334,8,0,0,0,0,2916.666667,0,35000.0,0.016523,48.1916700,3.8751862

Source : https://www.kaggle.com/surekharamireddy/credit-data

In [ ]:
# Bank expects the data to identify the consumers/credit card holders who are likely to default on payments based on the variables gathered.

In [ ]:
# Description of Data

# CARDHLDR  1 if application for credit card accepted, 0 if not
# DEFAULT   1 if defaulted 0 if not (observed when CARDHLDR=1, 10,499 observations)
# AGE       Age in years plus twelfths of a year
# ACADMOS   months living at current address
# ADEPCNT   number of dependents
# MAJORDRG  Number of major derogatory reports
# MINORDRG  Number of minor derogatory reports
# OWNRENT   1 if owns their home, 0 if rent
# INCOME    Monthly income (divided by 10,000)
# SELFEMPL  1 if self employed, 0 if not
# INCPER    Income divided by number of dependents
# EXP_INC   Ratio of monthly credit card expenditure to yearly income
# SPENDING  Average monthly credit card expenditure (for CARDHOLDER = 1)
# LOGSPEND  Log of spending

In [ ]:
# Target = 'Default'
# Classification Problem

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13444 entries, 0 to 13443
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CARDHLDR   13444 non-null  int64
 1   DEFAULT    13444 non-null  int64
 2   AGE        13444 non-null  float64
 3   ACADMOS    13444 non-null  int64
 4   ADEPCNT    13444 non-null  int64
 5   MAJORDRG   13444 non-null  int64
 6   MINORDRG   13444 non-null  int64
 7   OWNRENT    13444 non-null  int64
 8   INCOME     13444 non-null  float64
 9   SELFEMPL   13444 non-null  int64
 10  INCPER     13444 non-null  float64
 11  EXP_INC    13444 non-null  float64
 12  SPENDING   13444 non-null  object
 13  LOGSPEND   13444 non-null  object
dtypes: float64(4), int64(8), object(2)
memory usage: 1.4+ MB

# ***DATASET 2***

In [ ]:
path = '/content/Bank Marketing.csv.zip'
df2 = pd.read_csv(path)
df2.head()

,Age,Job,Marital Status,Education,Credit,Balance (euros),Housing Loan,Personal Loan,Contact,Last Contact Day,Last Contact Month,Last Contact Duration,Campaign,Pdays,Previous,Poutcome,Subscription
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,1
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,1
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,1
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,1
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,1

Source : https://www.kaggle.com/aakashverma8900/portuguese-bank-marketing?select=Bank+Marketing.csv

In [ ]:
# Bank marketing campaigns via phone calls were put into place to see if customer were to subscribe or not to the bank's term deposits.

In [ ]:
# 1 - age      (numeric)
# 2 - job      type of job 
# 3 - marital  marital status 
# 4 - education (categorical: "unknown","secondary","primary","tertiary")
# 5 - default: has credit in default? (binary: "yes","no")
# 6 - balance: average yearly balance, in euros (numeric)
# 7 - housing: has housing loan? (binary: "yes","no")
# 8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
# 9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
# 10 - day: last contact day of the month (numeric)
# 11 - month: last contact month of year (categorical: "jan", "feb", "mar", …, "nov", "dec")
# 12 - duration: last contact duration, in seconds (numeric)
# other attributes:
# 13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
# 14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
# 15 - previous: number of contacts performed before this campaign and for this client (numeric)
# 16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

# output variable (desired target):
# 17 - y - has the client subscribed a term deposit? (binary: "yes","no")

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    45211 non-null  int64
 1   Job                    45211 non-null  object
 2   Marital Status         45211 non-null  object
 3   Education              45211 non-null  object
 4   Credit                 45211 non-null  object
 5   Balance (euros)        45211 non-null  int64
 6   Housing Loan           45211 non-null  object
 7   Personal Loan          45211 non-null  object
 8   Contact                45211 non-null  object
 9   Last Contact Day       45211 non-null  int64
 10  Last Contact Month     45211 non-null  object
 11  Last Contact Duration  45211 non-null  int64
 12  Campaign               45211 non-null  int64
 13  Pdays                  45211 non-null  int64
 14  Previous               45211 non-null  int64
 15  Poutcome               45211 non-null  object
 16  Subscription           45211 non-null  int64
dtypes: int64(8), object(9)
memory usage: 5.9+ MB

In [ ]:
# Generally I have been in the banking/retail/insurance industry for more than 20years. These datasets have caught my attention since it deals with 
# data that will show factors of your end result which is getting your client to sign in that document or avail of products and services offered by the business.

In [ ]:
# Problems I see that I might encounter is that there might be columns that would be irrelevant to my end results that I will be targeting for.